In [56]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

import pandas as pd

In [57]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [58]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [59]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temp = []
june_temp = session.query(Measurement.date, Measurement.tobs).filter(func.strftime("%m", Measurement.date)=='06')

In [60]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temp_df = pd.DataFrame(june_temp, columns=['Date', "Temperature"])
june_temp_df

            Date  Temperature
0     2010-06-01         78.0
1     2010-06-02         76.0
2     2010-06-03         78.0
3     2010-06-04         76.0
4     2010-06-05         77.0
...          ...          ...
1695  2017-06-26         79.0
1696  2017-06-27         74.0
1697  2017-06-28         74.0
1698  2017-06-29         76.0
1699  2017-06-30         75.0

[1700 rows x 2 columns]

In [61]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temp_df.describe()

       Temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [62]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temp = []
dec_temp = session.query(Measurement.date, Measurement.tobs).filter(func.strftime("%m", Measurement.date)=='12')

In [63]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temp_df = pd.DataFrame(june_temp, columns=['Date', "Temperature"])
dec_temp_df

            Date  Temperature
0     2010-06-01         78.0
1     2010-06-02         76.0
2     2010-06-03         78.0
3     2010-06-04         76.0
4     2010-06-05         77.0
...          ...          ...
1695  2017-06-26         79.0
1696  2017-06-27         74.0
1697  2017-06-28         74.0
1698  2017-06-29         76.0
1699  2017-06-30         75.0

[1700 rows x 2 columns]

In [64]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temp_df.describe()

       Temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000